.login-view {
    -fx-background-color: #f0f0f0; /* Màu nền nhạt hơn TilePane */
        -fx-background-radius: 10px; /* Bo góc để trông mềm mại */
        -fx-padding: 15px; /* Tạo khoảng cách bên trong */

        /* Đổ bóng để tạo hiệu ứng lồi lên */
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.3, 2, 2);

        /* Viền sáng để tạo độ nổi */
        -fx-border-color: white;
        -fx-border-width: 2px;
        -fx-border-radius: 10px;

}

.login-title {
    -fx-alignment: center-left;
    -fx-padding: 16px;
}

.login-title .header {
    -fx-font-size: 20px;
}

.login-body {
    -fx-padding: 0 64 16 16;
}

.al-center-left {
    -fx-alignment: center-left;
}

.sp-5 {
    -fx-spacing: 5px;
}

.wid-120 {
    -fx-pref-width: 120px;
}

.text-field, password-field, .button {
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-color: gray;
}

.button: hover {
    -fx-background-color: gray;
    -fx-text-fill: white;
}